
.navbar-brand a{
  font-weight: 500;
  font-size: 20px;
  color:white;
}

/*Make the links in the navbar white on a black background*/
.navbar-custom li a{
  background-color:#222;
  color: #fff;
  font-weight: 800;
  font-size:14px;
}

/*Underline when navbar links are hovered upon*/
.navbar-custom a:hover{
  border-bottom: 0.1975rem solid white
}

@media only screen and (max-width:1500px){
  .avatar-container{
    opacity:0 !important;
  }
}

.navbar-brand{
  background-color: #1cb28b;
}

