.navbar-custom{
  background-color:#222;
  color: #fff;
}

.navbar-custom a:hover{
  border-bottom: 0.1875rem solid white
}

.navbar-custom .nav li a{
  font-size:14px;;
}

@media only screen and (max-width:1500px){
  .avatar-container{
    opacity:0 !important;
  }
}

.navbar-brand{
  background-color: #1cb28b;
}

.navbar-brand a:hover{
  color:grey;
}