
.navbar-brand a{
  font-weight: 500;
  font-size: 20px;
  color:white;
}

/*Make the links in the navbar white on a black background*/
.navbar-custom {
  background-color:#222;
}

.navbar-custom .nav li a{
  color: #fff !important;
  font-weight: 800;
  font-size:14px;
  padding-bottom: 0;
  padding left: 0;
  padding right: 0;
}

/*Underline when navbar links are hovered upon*/
.navbar-custom a:hover{
  border-bottom: 0.23rem solid white
}

.navbar-brand a:hover{
  border: none;
}

@media only screen and (max-width:1500px){
  .avatar-container{
    opacity:0 !important;
  }
}

.navbar-brand{
  background-color: #1cb28b;
}

