---
layout: default
title: Categories
---

<style type="text/css">
  #{
    border: 0.5px 
    border-radius: 
    color: yellow;
    text-align: center;
    margin-left: 20px;
    padding: 10px;
    font-weight: 600;
    font-size: 1.3em;
  }

  #categories{
    background-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-image-outset:0px;
    border-image-repeat:stretch;
    border-image-slice:100%;
    border-image-source:none;
    border-image-width:1;
    border-left-color:rgb(0, 0, 0);
    border-left-style:solid;
    border-left-width:1px;
    border-right-color:rgb(0, 0, 0);
    border-right-style:solid;
    border-right-width:1px;
    border-top-color:rgb(0, 0, 0);
    border-top-left-radius:
    15px
    ;
    border-top-right-radius:
    15px
    ;
    border-top-style:
    solid
    ;
    border-top-width:
    1px
    ;
    box-sizing:
    border-box
    ;
    color:
    rgb(229, 166, 29)
    ;
    cursor:
    auto
    ;
    display:
    inline
    ;
    font-family:
    Lora, "Times New Roman", serif
    ;
    font-size:
    36px
    ;
    font-weight:
    normal
    ;
    height:
    auto
    ;
    line-height:
    51.4286px
    ;
    margin-left:
    20px
    ;
    padding-bottom:
    5px
    ;
    padding-left:
    5px
    ;
    padding-right:
    5px
    ;
    padding-top:
    5px
    ;
    text-align:
    center
    ;
    text-decoration:
    none
    ;
    width:auto;
  }
</style>


<h1 class="text-center">CATEGORIES</h1>

{% comment %}
=======================
The following part extracts all the categories from your posts and sort categories, so that you do not need to manually collect your categories to a place.
=======================
{% endcomment %}
{% assign rawcategories = "" %}
{% for post in site.posts %}
{% assign tcategories = post.categories | join:'|' | append:'|' %}
{% assign rawcategories = rawcategories | append:tcategories %}
{% endfor %}
{% assign rawcategories = rawcategories | split:'|' | sort %}

{% comment %}
=======================
The following part removes dulpicated categories and invalid categories like blank tag.
=======================
{% endcomment %}
{% assign categories = "" %}
{% for tag in rawcategories %}
{% if tag != "" %}
{% if categories == "" %}
{% assign categories = tag | split:'|' %}
{% endif %}
{% unless categories contains tag %}
{% assign categories = categories | join:'|' | append:'|' | append:tag | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}





{% comment %}
=======================
The purpose of this snippet is to list all the categories you have in your site.
=======================
{% endcomment %}
{% for category in categories %}
<a id="categories" href="#{{ category | slugify }}"> {{ category }} </a>
{% endfor %}


{% comment %}
=======================
The purpose of this snippet is to list all your posts posted with a certain category.
=======================
{% endcomment %}
{% for category in categories %}
<h2 id="{{ category | slugify }}">{{ category }}</h2>
<ul>
 {% for post in site.posts %}
 {% if post.categories contains category %}
 <li>
   <h3>
     <a href="{{ post.url }}">
       {{ post.title }}
       <small>{{ post.date | date_to_string }}</small>
     </a>
   </h3>
 </li>
 {% endif %}
 {% endfor %}
</ul>
{% endfor %}
